.wanderer__subtitle {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.22;
    color: #fff;
    margin: 10px 0 0 30px;
    text-overflow: ellipsis;
    max-width: 335px;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 424px) {
    .wanderer__subtitle {
        font-size: 14px;
        text-align: center;
        margin: 14px 0 0 0;
        max-width: 200px;
    }
}