.popup {
    position: fixed;
    display: flex;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    z-index: 4;
    opacity: 0;
    transition: opacity 200ms linear,
    visibility 0s linear 200ms;
}