.popup__caption {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.25;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    bottom: -16px;
    color: white;
    max-width: 240px;
}