.wanderer__overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    transition: opacity .3s ease-in;
    opacity: 0;
    cursor: pointer;
}

.wanderer__overlay:hover{
    transition: opacity .2s ease-in;
    opacity: 1;
}